# --- Dépendances -------------------------------------------------------------
node_modules
.pnpm-store

# --- Build Nuxt / Nitro ------------------------------------------------------
.nuxt
.output
.data
.nitro
.cache

# --- Environnement -----------------------------------------------------------
.env
.env.*
!.env.example

# --- Divers ------------------------------------------------------------------
.DS_Store
*.log
coverage
.tmp-dshx
